<!--
  Generated template for the SearchUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-toolbar>
		<ion-searchbar placeholder="Search For User" (ionInput)="searchUser($event)"></ion-searchbar>
	</ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let user of filterdUsers" (tap)="chatUser(user)">
			<ion-avatar item-start>
				<img *ngIf="user.profilePicUrl" [src]="user.profilePicUrl" width="50" height="50">
			</ion-avatar>
			<h3>{{user.firstName}} {{user.lastName}}</h3>
		</ion-item>
	</ion-list>
</ion-content>
